@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.name{
  animation-name:'slide';
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.img1{
  animation-name:'zoom';
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes slide{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.contact{
  background-color: #282b2d;
}
.header{
  background:linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}
.about{
  background-color: #f1f1f1;
}
.txt-col{
  color: #777;
}
.bt-color{
  background-color: #013974;
}
.bt-color:hover{
  background-color:#1d72c9;
}
.whyus{
  background: url('https://3.imimg.com/data3/XX/VI/GLADMIN-14808843/untitled-500x500.jpg');
  

}
.why-us-ring{
  background-color: #1d72c9;
}
.vehicles{
  background-color: #013974;
}
.branches{
  background-color: #fcaf07;
}
.clients{
  background-color: #2d2d2d;
}
.services-bg{
  /*  */
  background-color: #f0efeb;
}
.testimonials-bg{
  background: url('https://image.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6364.jpg');
}
.clients-bg{
  background-color: #1d72c9;
}
.ser{
  width: 342px;
}
.flex_1{
  flex:70%;
}
.flex_2{
  flex: 30%;
}
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
}

